main {
  position: absolute;
  height: 100vh;
  width: calc(100vw - 100px);
  max-height: 100vh;
  max-width: calc(100vw - 100px);
  left: 80px;
  padding: 30px;
  background-color: #070F2B;
}

.container {
  position: relative;
}

h6 {
  font-size: smaller;
}

div:has(#page-title) {
  display: flex;
}

button {
  background: #535C91;
  border: none;
}

#create-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#create-button > button {
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

#create-button i {
  margin-right: 10px;
}

#status-filter {
    border-bottom: 1px solid #9290C3;
}

#status-filter > button {
    padding: 10px;
    background-color: #070F2B;
    color: #9290C3;
    width: 125px;
}
