<main>
    <div class="bg-image"></div>
    <mat-card class="row">
        <div class="col-6">
            <h6 id="company-name">FinancialPlanning</h6>
            <div class="content">
                <mat-card-header class="mb-4">
                    <mat-card-title>Forgot password?</mat-card-title>
                    <mat-card-subtitle>No worries, we'll send you reset instructions.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form class="w-100 mb-3" (ngSubmit)="onSubmit()">
                        <mat-form-field class="w-100 mb-2">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" placeholder="Ex. user@mail.com"
                                [formControl]="emailFormControl" [errorStateMatcher]="matcher"/>
                            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                            <mat-error>Please enter a valid email address</mat-error>
                            }
                            @if (emailFormControl.hasError('required')) {
                            <mat-error>Email is required</mat-error>
                            }
                        </mat-form-field>
                        <button mat-raised-button type="submit" class="w-100">Reset password</button>
                    </form>
                    <a routerLink="/login"><i class="fa-solid fa-arrow-left"></i>Back to log in</a>
                </mat-card-content>
            </div>
        </div>
        <img src="../../../../assets/img/forgot-password.png" alt="Forgot Password" class="col-6">
    </mat-card>
</main>