
<div class="wrapper">
  
  <form action="#" (click)="onClick()">
    <input type="file" class="file-input" (change)="onChange($event)" hidden />
    <!-- <input class="file-input" type="file" name="file" hidden> -->
    <i class="fas fa-cloud-upload-alt"></i>
    <p>Browse File to Upload</p>
  </form>
</div>

<div *ngIf="file">
  <section class="file-info">
    File details:
    <ul>
      <li>Name: {{file.name}}</li>
      <li>Type: {{file.type}}</li>
      <li>Size: {{file.size}} bytes</li>
    </ul>
  </section>

  <button (click)="onUpload()">Upload the file</button>

  <section [ngSwitch]="status">
    <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
    <p *ngSwitchCase="'success'">✅ Done!</p>
    <p *ngSwitchCase="'fail'">❌ Error!</p>
    <p *ngSwitchDefault>😶 Waiting to upload...</p>
  </section>
</div>