main {
  position: absolute;
  height: 100vh;
  width: calc(100vw - 60px);
  max-height: 100vh;
  max-width: calc(100vw - 60px);
  left: 60px;
  padding: 30px;
}

.containerr {
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--white-smoke);
}

h6 {
  font-size: smaller;
}

div:has(#page-title) {
  display: flex;
}

button {
  /* background: #535c91; */
  border: none;
}


.abc {
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.abc button {
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
}

.abc i {
  margin-right: 10px;
}

table {
  min-height: auto;
  border: 2px solid var(--white-smoke);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden !important;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

th {
  font-weight: 900;
  background-color: #f2f4f3 !important;
}

::ng-deep .mat-mdc-paginator {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.plan-details {
  width: 70%;
  margin: auto;
  display: flex;
  border-radius: 5px;
  border: 1px solid rgb(111, 124, 219);
  margin-bottom: 10px;
  padding-top: 5px;
}

.right-item {
  margin-right: 10%;
  width: 35%;

}

.left-item {
  width: 35%;
  margin-left: 5%;
}