form {
  width: 100%;
  /* Set form width to 100% */
}

form .col-6 {
  width: 50%;
  /* Set column width to 50% */
}

form input,
form select {
  border: 2px solid #575757   ;
  border-radius: 4px;
  /* width: 60%; */
  height: 50px;
  padding: 0 15px;
  transition: .25s ease;
}

form input:focus, form select:focus {
  border-color: rgb(133, 68, 165);
}

.form-field{
  position: relative;
}
a.user-list-link {
  color: black; /* Màu chữ đen */
}

.form-control:focus + label {
  top: 0px;
  padding: 10px;
  display: inline-block;
  background-color: white;
  color: rgb(133, 68, 165);
}

form div.error-message {
  color: red;
  font-size: 14px;
  padding-left: 10px;
}


table {
  text-align: center;
  overflow: scroll;
}

main {
  box-shadow: none;
  padding: 30px;
}

main>div {
  border-radius: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.btn-disabled {
  background-color: #5C636A; /* Thay đổi màu nền */
  color: white; /* Thay đổi màu chữ */
  cursor: not-allowed; /* Thay đổi kiểu con trỏ */
}
main {
  position: absolute;
  height: calc(100vh - 120px);
  width: calc(100vw - 100px);
  max-height: calc(100vh - 120px);
  max-width: calc(100vw - 100px);
  border-radius: 20px;
  top: 100px;
  left: 80px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; */
}
 .mb-4{
  font-weight: bolder;

}
