<main>
  <h1 class="mb-4">Import Plan</h1>
  <div class="card row">
    
    <div class="left">
      <h5>Step 1/2: Please select a file to import</h5>
      <form>
        <p>
          <label for="term">Term *</label>
        </p>
        <mat-form-field appearance="fill">
          <mat-label>Term</mat-label>
          <mat-select disableOptionCentering panelClass="dropDown-seasons-panel" id="term">
            <mat-option disabled selected>Please select term</mat-option>
            <mat-option *ngFor="let option of termOptions" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <input type="file" id="file-input" hidden />
      </form>
    </div>
    <div class="right">
      <app-upload></app-upload>
    </div>
  </div>
</main>
