<aside id="sidenav">
  <a routerLink="/home" routerLinkActive="active">
    <b>FinancialPlanning</b>
  </a>
  <a routerLink="/terms"> <i class="fa-solid fa-timeline"></i>Term List</a>
  <a routerLink="/plans"> <i class="fa-solid fa-list-check"></i>Plan List</a>
  <a routerLink="/reports"> <i class="fa-regular fa-file"></i>Report List</a>
  <a routerLink="/annual-reports"> <i class="fa-regular fa-calendar-alt"></i>Annual Report </a>
  <div id="account">
   
    <i class="fa-regular fa-user"></i>
    <div>{{ username }}<br /><span id="role">{{role}}</span></div>
    <a id="logout" (click)="logout()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </a>
  
  </div>
</aside>
