<div [ngClass]="'backgroundLogin'">
  <main class="main-content ">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <!-- <div class="col-md-6"></div> -->
            <div class="col-md-6">
              <div class="card card-plain mt-4">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3>
                  <p class="mb-0">Enter your email and password to sign in</p>
                </div>
                <div class="card-body">
                  <form [formGroup]="loginForm">
                    <label>Email</label>
                    <div class="mb-3">
                      <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                        formControlName="email" aria-describedby="email-addon">
                    </div>

                    <!-- Error email -->
                    <div *ngIf="loginClicked && loginForm.get('email')?.invalid && (loginForm.get('email')?.errors?.['email'] || loginForm.get('email')?.errors?.['required'])"
                        class="text-danger">
                    {{ loginForm.get('email')?.errors?.['email'] ? 'Please enter a valid email address.' : 'This field is required.'
                      }}
                    </div>                  
                    <!-- Error email -->
                    <label>Password</label>
                    <div class="mb-3">
                      <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                        formControlName="password" aria-describedby="password-addon">
                    </div>
                    
                    <!-- Error pass -->
                    <div
                      *ngIf="loginClicked && loginForm.get('password')?.invalid && loginForm.get('password')?.errors?.['required']"
                      class="text-danger">
                      This field is required.
                    </div>
                    <!-- Error pass -->
                    <p class="text-danger">{{ errorMessage }}</p>
                    <div class="text-center">
                      <button type="button" (click)="login()" class="btn bg-gradient-info w-100 mt-4 mb-0">login
                        in</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                   
                    <a href="javascript:;" class="text-info text-gradient font-weight-bold">Forgot password</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <img src="../../../assets/img/curved-images/fantasy.jpg" alt="Fantasy Image">    
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>