form {
    width: 100%;
    /* Set form width to 100% */
}

form .col-6 {
    width: 25%;
    /* Set column width to 50% */
}

h1 {
    font-weight: 750;
    color: rgb(51, 50, 50);
}
h4 {
    font-weight: bolder;
}
form input,
form select {
    border: 0;
    height: 50px;
    margin-bottom: 10px;
    padding: 0 15px;
    background-color: #ebeef3;
    
}


.form-field{
    position: relative;
}

.card{
    background-color: #0101dd00;
    color: rgb(32, 32, 32);
    height: 80%;
}

table {
    text-align: center;
    overflow: scroll;
}

main {
    background-color:rgb(194, 194, 194);
    box-shadow: none;
    padding: 30px;
}

main>div {
    border-radius: 24px;
    background-color: rgb(194, 194, 194);
    box-shadow: rgba(228, 223, 216, 0.2) 0px 8px 24px;
    padding: 20px;
}

main {
    position: absolute; 
    height: calc(100vh - 120px);
    width: calc(100vw - 100px);
    max-height: calc(100vh - 120px);
    max-width: calc(100vw - 100px);
    border-radius: 20px;
    top: 100px;
    left: 80px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; */
}
/* Trích dẫn phần tử chứa các lựa chọn "Active" và "Deactive" */
.choice-container {
    position: fixed; /* Đặt vị trí cố định */
    top: 100px; /* Căn chỉnh vị trí từ phía trên */
    right: 100px; /* Căn chỉnh vị trí từ phía bên phải */
}

/* Căn chỉnh nút "Change Status" và "Cancel" */
.btn-primary,
.btn-secondary {
    margin-right: 10px; /* Tạo khoảng cách giữa các nút */
}
.choice-container{
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
    padding: 5px;
}


