* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#upload {
    border-style: dashed !important;
    padding: .5rem !important;
    height: 30%;
    background-color: #f0f1ff;
}

form i {
    font-size: 50px;
    color: var(--primary);
}

#instruction-text {
    font-size: 14px;
}