<header>
    <nav id="navbar">
      <div id="userinfo" (click)="showUserMenu()">
        <i class="fa-regular fa-user"></i>
        <div id="username">
          <i>Hello,</i><br /><b>{{ username }}</b>
        </div>
      </div>
      <div id="usermenu" [style.maxHeight]="userMenuMaxHeight">
        <div class="blank"></div>
        <a routerLink="/profile"><i class="fa-solid fa-arrow-right-from-bracket"></i>Profile</a>
        <a routerLink="/logout"><i class="fa-regular fa-id-card"></i>Logout</a>
      </div>
    </nav>
  </header>
  