#userinfo {
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid;
    border-radius: 25px;
    background-color: white;
    z-index: 3;
    transition: 0.75s;
    width: 125px;
    justify-content: center;
}

#userinfo.clicked {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 15px 30px -6px inset,
        rgba(0, 0, 0, 0.3) 0px 11px 22px -11px inset;
}

#userinfo>i {
    font-size: x-large;
}

#username {
    margin-left: 10px;
    font-size: small;
}

#usermenu {
    position: absolute;
    top: 25px;
    padding: 10px;
    border: 1.5px solid;
    border-radius: 30px;
    transition: 0.75s;
    max-height: 0px;
    overflow: hidden;
    background-color: white;
    z-index: 2;
    width: 125px;
}

#usermenu>.blank {
    height: 30px;
}

#usermenu a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: black;
}

#usermenu i {
    width: 20px;
    margin-right: 5px;
    text-align: center;
}

nav {
    float: right;
    cursor: pointer;
    margin: 10px 30px;
  }