main {
  position: absolute;
  height: 100vh;
  width: calc(100vw - 100px);
  max-height: 100vh;
  max-width: calc(100vw - 100px);
  left: 80px;
  padding: 30px;
  background-color: #070f2b;
}

.container1 {
  align-items: center;
}

th {
  border-bottom: 1px solid #1b1a55;
  color: white;
  font-weight: bold;
}

.searchBar {
  flex: 1;
  /* Ô tìm kiếm sẽ mở rộng để lấp đầy không gian còn trống */
  position: relative;
  width: 100%;
  margin-right: 10px;
  /* Khoảng cách giữa ô tìm kiếm và các ô filter */
}

mat-form-field {
  flex: 1;
  /* Tất cả các ô filter sẽ có cùng kích thước */
  margin-right: 10px;
  /* Khoảng cách giữa các ô filter */
}

.reset-button {
  background-color: #535c91;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

mat-label {
  color: #4F85F2;
}

.container {
  position: relative;
}

h6 {
  font-size: smaller;
}

div:has(#page-title) {
  display: flex;
}

button {
  background: #535c91;
  border: none;
}


.btIP {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.btIP button {
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
}

.btIP i {
  margin-right: 10px;
}



.searchBar {
  position: relative;
  display: inline;
}

.searchBar input[type="text"] {
  width: 40%;

  line-height: 2.5;
  padding: 0px 35px;
  border: 1px solid #9290c3;
  border-radius: 10px;
  background-color: #070f2b;
  color: white;
}

.searchBar .fa-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #9290c3;
}

table {
  width: 100%;
  min-height: auto;
  background-color: #070f2b;
  border: 1px solid #9290c3;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden !important;
  box-shadow: 0px -5px 2px -4px #9290c3;
  flex-shrink: 0;
}

th {
  border-bottom: 1px solid #1b1a55;
  color: white;
}

td {
  border-top: 1px solid #535c91;
  color: #9290c3;
}

::ng-deep .mat-mdc-paginator {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

::ng-deep .mat-mdc-paginator-outer-container {
  background-color: #535c91;
  color: white;
}

::ng-deep .mat-mdc ::ng-deep .mat-mdc-form-field {
  height: 50px;
}

::ng-deep .mat-mdc-text-field-wrapper {
  margin-top: 20px !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #070f2b !important;
  border: 1px solid #9290c3;
  border-radius: 10px;

}

::ng-deep .mat-mdc-select-arrow {
  color: white !important;
}

::ng-deep .mat-mdc-form-field-infix {

  width: 100px !important;
}

::ng-deep .mdc-text-field--filled .mdc-floating-label {

  font-size: 14px !important;

}

::ng-deep .mat-mdc-select {
  color: white !important;
  font-size: 14px !important;
}

::ng-deep .mat-mdc-form-field {

  margin-left: 30px;

}

.emtry-data-message {
  text-align: center;
  font-size: large;
  margin-top: 15%;
}